hello there from the index


<% @recipes.each do |recipe| %>
  <p>Title: <%= recipe.title %></p>
  <p>Ingredients: <%= recipe.ingredients %></p>
  <p>Directions: <%= recipe.directions %></p>
  <p>Prep Time: <%= recipe.prep_time %></p>
  <hr>
<% end %>
