here is the form to make a new recipe

<form action="/recipes" method="post">
  <p>title: <input type="text" name="title"></p>
  <p>ingredients: <input type="text" name="ingredients"></p>
  <p>directions: <input type="text" name="directions"></p>
  <p>prep_time: <input type="text" name="prep_time"></p>
  <p>image_url: <input type="text" name="image_url"></p>
  <p>user_id: <input type="text" name="user_id"></p>
  <input type="submit" value="Make a new recipe here">
</form>
